{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0" charset="UTF-8">
    {% if user.is_authenticated %}
    <title>{{ user }}'s FavIt Gallery</title>
    {% else %}
    <title>FavIt</title>
    {% endif %}
    <link href="{% static 'favit/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'favit/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <div>User: {{ user }}</div>
            <a href="{% url 'logout' %}">Logout</a>
            <span><a class="help">help</a></span>
            {% else %}
            <div>
                <a class="popup-with-form" href="#login-form">Login</a>
            </div>
            <div>
                <a class="popup-with-form" href="#register-form">Register</a>
            </div>
            {% endif %}
        </nav>
        {% if user.is_authenticated %}
        <div class="center">
            <span>
                <div class="supported" title="Filter All">All Content Providers:</div>
                <div class="logos">
                    <img src="{% static 'favit/im.png' %}" id="imgur-logo" draggable="false" title="Filter Imgur">
                    <img src="{% static 'favit/vi.jpg' %}" id="vimeo-logo" draggable="false" title="Filter Vimeo">
                    <img src="{% static 'favit/yo.png' %}" id="yt-logo" draggable="false" title="Filter YouTube">
                </div>
            </span>
            <div class="action-links">
                <div id="recent-favs" class="top-links" title="Show All User Submitted Favs">All</div>
                <div id="user-favs" class="top-links" title="View Your Submitted Favs">Profile</div>
                <a class="popup-with-form top-links" href="#fav-form" title="Add New Fav">Submit</a>
            </div>
        </div>
        {% else %}
        <div class="logos">
            <div class="supported" title="Filter All">All Content Providers:</div>
            <img src="{% static 'favit/im.png' %}" id="imgur-logo" draggable="false" title="Filter Imgur">
            <img src="{% static 'favit/vi.jpg' %}" id="vimeo-logo" draggable="false" title="Filter Vimeo">
            <img src="{% static 'favit/yo.png' %}" id="yt-logo" draggable="false" title="Filter YouTube">
        </div>
        {% endif %}
        <a href="{% url 'index' %}">
            <h1 class="top-links">FavIt</h1>
        </a>
    </header>
    <div class="main">
        <section>
        </section>
    </div>
    <form id="login-form" class="mfp-hide white-popup-block" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="username"><h3>Username:</h3></label>
            <input name="username" class="username-entry" placeholder="username" required></input>
            <label for="password"><h3>Password:</h3></label>
            <input type="password" name="password" class="password-entry" placeholder="password" required></input>
            <button class="submit-form" type="submit">Login</button>
        </fieldset>
    </form>
    <form id="register-form" class="mfp-hide white-popup-block" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="username"><h3>Desired Username:</h3></label>
            <input name="username" class="username-entry" placeholder="username" required></input>
            <label for="password"><h3>Password:</h3></label>
            <input type="password" name="password" class="password-entry" placeholder="password" required></input>
            <button class="submit-form" type="submit">Login</button>
        </fieldset>
    </form>
    <form id="fav-form" class="mfp-hide white-popup-block" action="{% url 'create_fav' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="url"><h3>Media URL:</h3></label>
            <input name="url" class="url-input" placeholder="E.g. https://vimeo.com/108448978" required></input>
            <label for="comment"><h3>Comment (optional):</h3></label>
            <input name="comment" class="comment-input" placeholder="E.g. Most epic video ever!" maxlength="64"></input>
            <button class="submit-form" type="submit">Submit</button>
        </fieldset>
    </form>
    <footer>
        <div class="contact-info">
            <a href="https://www.linkedin.com/in/mattvoelpel">
                <img src="{% static 'favit/LLogo.png' %}">
            </a>
            <a href='mailto:matvop@gmail.com'>
                <img src="{% static 'favit/email-icon.png' %}">
            </a>
        </div>
        <div>
            Matthew Voelpel 2016
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="{% static 'favit/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'favit/ajax_setup.js' %}"></script>
    <script src="{% static 'favit/post.js' %}"></script>
    <script src="{% static 'favit/get.js' %}"></script>
    <script src="{% static 'favit/main.js' %}"></script>
</body>
</html>
