{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FavIt</title>
    <link href="{% static 'favit/style.css' %}" rel="stylesheet">
    <link href="{% static 'favit/magnific-popup.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            {% if user.is_authenticated %}
                <div>User: {{ user }}</div>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/?next={{ request.path }}">Login</a>
            {% endif %}
        </div>
        <div class="input">
            {% if user.is_authenticated %}
                <h2 class="dynamic"></h2>
            {% else %}
                <h2>Currently viewing most recent Favs</h2>
            {% endif %}
            <form>
                <input id="url-input" placeholder="E.g. https://vimeo.com/108448978">
                <input id="comment-input" placeholder="E.g. Wish I had one of these!">
                <input type="submit">
            </form>
        </div>
    </header>
    <div class="main">
        <section>
        </section>
    </div>
    <footer>
        <div class='contact-info'>
            <a href='https://www.linkedin.com/in/mattvoelpel'>
                <img src="{% static 'favit/LinkedIn_Logo.png' %}">
            </a>
            <a href='mailto:matvop@gmail.com'>
                <img src="{% static 'favit/email-icon.png' %}">
            </a>
        </div>
        <div>
            Created by Matt Voelpel 2016
        </div>
        <div>
            Support for .jpg, .gif, .png, and .bmp images along with YouTube, and Vimeo videos.
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="{% static 'favit/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'favit/script.js' %}"></script>
</body>
</html>
