{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0" charset="UTF-8">
    <title>FavIt</title>
    <link href="{% static 'favit/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'favit/style.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'favit/all.min.css' %}" rel="stylesheet"> -->
</head>
<body>
    <header>
        <div>
            {% if user.is_authenticated %}
                <div>User: {{ user }}</div>
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'get_favs' %}">Load Favs</a>
            {% else %}
                <a class="popup-with-form" href="#login-form">Login</a>
            {% endif %}
        </div>
        <div class="input">
            {% if user.is_authenticated %}
            <h2 class="dynamic"></h2>
            <form class="fav-input" action="{% url 'create_fav' %}" method='post'>
                {% csrf_token %}
                <input id="url-input" placeholder="E.g. https://vimeo.com/108448978">
                <input id="comment-input" placeholder="E.g. Wish I had one of these!">
                <input type="submit">
            </form>
            {% else %}
            <h2 class="static">Currently viewing most recent Favs</h2>
            {% endif %}
        </div>
    </header>
    <div class="main">
        <section>
        </section>
    </div>
    <form id="login-form" class="mfp-hide white-popup-block" action="{% url 'login' %}" method='post'>
        {% csrf_token %}
        <h1 class="form-title">Please sign in</h1>
        <fieldset>
            <label for='username'><h3>User Name:</h3></label>
            <input name="username" id='username-entry' placeholder="username" required></input>
            <label for='comment'><h3>Password:</h3></label>
            <input type="password" name="password" id='password-entry' placeholder="password" required></input>
            <button class='submit-form' type="submit">Login</button>
        </fieldset>
    </form>
    <footer>
        <div class='contact-info'>
            <a href='https://www.linkedin.com/in/mattvoelpel'>
                <img src="{% static 'favit/LinkedIn_Logo.png' %}">
            </a>
            <a href='mailto:matvop@gmail.com'>
                <img src="{% static 'favit/email-icon.png' %}">
            </a>
        </div>
        <div>
            Created by Matt Voelpel 2016
        </div>
        <div>
            Integrated API for Imgur, YouTube, and Vimeo content.
        </div>
        <div>
            Supports direct linking of .jpg, .gif, .png, and .bmp images.
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="{% static 'favit/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'favit/script.js' %}"></script>
</body>
</html>
