html {
    background-color: #3C3C3C;
}
body {
    font-family: monospace;
    border-width:0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    position: relative;
}
.center {
    display: flex;
    flex-direction: column;
}
.supported {
    color: white;
    max-width: 100px;
    text-align: right;
    margin-right: 5px;
}
.logos {
    display: flex;
    align-self: center;
    align-items: center;
}
.logos > img {
    margin: 5px;
    height: 40px;
    width: auto;
}
/*#load-favs {
    cursor: pointer;
}*/
a {
    text-decoration: none;
    outline: none;
    color: white;
}
a:hover {
    color: dodgerblue;
}
.form-title {
    color: white;
}
fieldset {
    color: white;
}
/*.fav-input > fieldset > label {
    text-align: center;
}*/
.mfp-close {
    color: white;
}
nav {
    min-width: 80px;
}
.dynamic, h2, .static, .logo, nav {
    background-color: #3C3C3C;
    color: white;
    border-style: solid;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    border-width: 5px;
    border-color: white;
}
h2, .logo, nav {
    padding: 5px;
}
form, p {
    margin: 5px;
}
.main {
    flex: 1;
    background-color: none;
    display: flex;
    justify-content: center;
}
section {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-left: 0;
    justify-content: center;
    align-self: center;
}
article {
    font-size: .9em;
    background-color: #3C3C3C;
    box-shadow: 1px 1px 10px 5px rgba(30, 30, 30, 1);
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    max-width: 280px;
}
article, .logos img {
    -webkit-filter: saturate(100%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: saturate(100%);
    -moz-transition: .3s ease-in-out;
    -o-filter: saturate(100%);
    -o-transition: .3s ease-in-out;
}
article:hover, .logos img:hover {
  -webkit-filter: saturate(2) brightness(1.2);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: saturate(2) brightness(1.2);
  -moz-transition: .3s ease-in-out;
  -o-filter: saturate(2) brightness(1.2);
  -o-transition: .3s ease-in-out;
}
.vim {
    width: 248px;
}
.vim .thumb, .imgur .thumb {
    width: 100%;
}
.yt .thumb {
    width: auto;
}
.vim > .comment {
    background-color: #1ab7ea;
}
.yt {
    width: 186px;
}
.yt > .comment {
    background-color: #bb0000;
}
.imgur > .comment {
    background-color: #85BF25;
}
.top-cont {
    display: flex;
    justify-content: center;
}
article > div > a > img {
    display: block;
    width: auto;
    height: 140px;
}
.comment {
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-color: white;
    border-top-width: 5px;
    border-top-style: solid;
    color: white;
}
.comment > span {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.comment > span > div {
    word-break: break-all;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    /* Fallback for non-webkit */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment > span > a {
    margin-left: 10px;
}
.comment a:hover {
    text-decoration: underline;
    color: white;
}
.comment > div {
    display: flex;
    align-self: flex-end;
    color: white;
    margin: 5px;
    word-break: break-all;
}
.publisher {
    margin-left: 10px;
    font-size: .8em;
}
.auth-div {
    max-width: auto;
}
.pub-div {
    text-align: right;
    min-width: 40px;
}
.yt > .comment > .source > .pub-div {
    min-width: 52px;
}
.publisher > a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2 {
    -webkit-margin-before: 0;
    margin-bottom: 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    color: white;
}
fieldset {
     border: 0;
}
.contact-info {
    display: flex;
}
.contact-info > a > img {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.5s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.5s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/*Should be looking for how to create a standard viewport*/
@media screen and (max-width: 535px) {
    .url-input, .comment-input {
        width: 100px;
    }
    .supported {
        display: none;
    }
    .logos > img {
        margin: 2px;
        height: 24px;
        width: auto;
    }
    .fav-input > fieldset {
        display: flex;
        flex-direction: column;
    }
    /*.thumb {
        height: 100px;
        width: auto;
    }
    .vim > div > a > img {
        width: 100%;
    }
    .vim {
        width: 177px;
    }
    .yt {
        width: 133px;
    }
    .imgur {
        max-width: 215px;
    }
    .comment > span > div {
        font-size: 1.0em;
    }*/
}
